<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title th:text="#{home.title}">Default title.</title>
</head>
<body class="h-screen bg-stone-50 dark:bg-stone-950">
<header class="fixed top-0 w-full h-max px-3 py-2 flex flex-row">
    <button class="w-max h-max p-1.5 rounded hover:bg-stone-100 dark:hover:bg-stone-900 group"
            type="button" id="menu">
        <svg class="w-5 h-5 fill-stone-400 dark:fill-stone-600 group:hover:fill-stone-500 dark:group:hover:fill-stone-500"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                  d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
                  clip-rule="evenodd"/>
        </svg>
    </button>
</header>
<main class="h-full container mx-auto py-12 box-border flex flex-col justify-center items-center gap-12">

    <div id="hero" class="max-w-5xl max-h-max relative box-border py-8 px-12">
        <h1 class="max-w-full max-h-max relative box-border inline-block text-4xl md:text-4xl lg:text-6xl leading-normal font-bold text-justify text-stone-900 dark:text-stone-100"
            th:text="#{home.motto}">
            Default motto.
        </h1>
        <h2 class="max-w-max max-h-max relative box-border inline-block text-base md:text-lg lg:text-xl leading-normal font-normal text-justify text-stone-700 dark:text-stone-300"
            th:text="#{home.motto.author}">
            Default motto author.
        </h2>
    </div>


</main>
</body>
</html>