<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title th:text="#{home.title}">Default title.</title>
</head>
<body class="bg-neutral-50 dark:bg-neutral-950">
<header class="fixed top-0 w-full h-max px-3 py-2 flex flex-row">
    <button class="w-max h-max p-1.5 rounded hover:bg-neutral-100 dark:hover:bg-neutral-900 group"
            type="button" id="menu">
        <svg class="w-5 h-5 fill-neutral-400 dark:fill-neutral-600 group:hover:fill-neutral-500 dark:group:hover:fill-neutral-500"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                  d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
                  clip-rule="evenodd"/>
        </svg>
    </button>
</header>
<main class="container mx-auto my-12 box-border flex flex-col items-center gap-12">

    <div id="hero" class="py-8 px-12 flex flex-col items-center gap-4">
        <div class="flex flex-row flex-nowrap justify-center items-center py-2 px-4 gap-3 rounded-lg bg-rose-50 dark:bg-rose-950">
            <svg class="fill-rose-400 dark:fill-rose-600 h-5 w-5 shrink-0" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M8.5 3.528v4.644c0 .729-.29 1.428-.805 1.944l-1.217 1.216a8.75 8.75 0 013.55.621l.502.201a7.25 7.25 0 004.178.365l-2.403-2.403a2.75 2.75 0 01-.805-1.944V3.528a40.205 40.205 0 00-3 0zm4.5.084l.19.015a.75.75 0 10.12-1.495 41.364 41.364 0 00-6.62 0 .75.75 0 00.12 1.495L7 3.612v4.56c0 .331-.132.649-.366.883L2.6 13.09c-1.496 1.496-.817 4.15 1.403 4.475C5.961 17.852 7.963 18 10 18s4.039-.148 5.997-.436c2.22-.325 2.9-2.979 1.403-4.475l-4.034-4.034A1.25 1.25 0 0113 8.172v-4.56z"
                      clip-rule="evenodd"/>
            </svg>
            <p class="text-xs leading-normal font-normal text-rose-700 dark:text-rose-300"
               th:text="#{home.badge}">
                Default badge.
            </p>
        </div>
        <h1 class="w-full h-max text-4xl md:text-6xl lg:text-8xl leading-normal font-bold text-justify text-neutral-900 dark:text-neutral-100"
            th:text="#{home.motto}">
            Default motto.
        </h1>
        <h2 class="text-base md:text-lg lg:text-xl leading-normal font-normal text-justify text-neutral-600 dark:text-neutral-400"
            th:text="#{home.synopsis}">
            Default synopsis.
        </h2>
    </div>

</main>
</body>
</html>